<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ManageAccountServlet</servlet-name>
        <servlet-class>controllers.ManageAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAccountServlet</servlet-name>
        <servlet-class>controllers.RemoveAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmServlet</servlet-name>
        <servlet-class>controllers.ConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>controllers.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <servlet-class>controllers.RegisterAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserView</servlet-name>
        <servlet-class>view.ManageUserView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderServlet</servlet-name>
        <servlet-class>controllers.ManageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderView</servlet-name>
        <servlet-class>view.ManageOrderView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <servlet-class>controllers.ChangeStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageAccountServlet</servlet-name>
        <url-pattern>/ManageAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAccountServlet</servlet-name>
        <url-pattern>/RemoveAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmServlet</servlet-name>
        <url-pattern>/ConfirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/SearchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccountServlet</servlet-name>
        <url-pattern>/RegisterAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserView</servlet-name>
        <url-pattern>/ManageUserView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderServlet</servlet-name>
        <url-pattern>/ManageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderView</servlet-name>
        <url-pattern>/ManageOrderView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <url-pattern>/ChangeStatusServlet</url-pattern>
    </servlet-mapping>
</web-app>
